a {
  color: #e5e7eb;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: boarder-box;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
  height: 100%;
  margin: 0px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  display: flex;
  font-size: 18px;
  padding: 16px;
  gap: 16px;
}

.content-title {
  display: flex;
  align-items: center;
  background-color: #1f2937;
  justify-content: center;
  gap: 32px;
  height: 400px;
  margin: 0px;
}

.content-title h3 {
  color: #f9faf8;
  font-weight: extra-bold;
  font-size: 48px;
  margin-bottom: 0;
}

.content-title p {
  color: #e5e7eb;
  font-size: 18px;
  margin: 0;
}

.content-title button {
  margin-top: 8px;
  border: none; /* Overwrites default styling */
  cursor: pointer; /* Overwrites default styling */
  outline: none; /* Overwrites default styling */
  background-color: #3882f6;
  border-radius: 10px;
  color: #f9faf8;
  font-size: 16px;
  padding: 8px;
}

.content-title-left,
.content-title-right {
  width: 500px;
}

.content-title-right img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.content-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.content-cards h3 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 26px;
}

.salemCard {
  height: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.salemCard img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.salemCard p {
  font-size: 18px;
  color: #1f2937;
  margin-top: 4px;
  text-align: center;
  margin-bottom: 0;
}

.content-quote {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e5e7eb;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.quote-text {
  font-style: italic;
  color: #1f2937;
  font-size: 36px;
}

.quote-text p {
  margin: 0;
}

.quote-author {
  align-self: flex-end;
  font-size: 20px;
}
